
body{
   font-family: "Ibarra Real Nova", serif; 
   margin: 0;
  
   
}
  



.grid-container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 82% 8%;
    height: 100vh;
    grid-template-areas: 
    "navbar navbar navbar"
    "menu main main"
    "footer footer footer";
    gap: 5px;

}

.titulo{
    display: grid;
    justify-content: center;
   

}


.navbar{
    grid-area: navbar;
    background-color: rgb(247, 208, 227);
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    

}

.navbar-logo img{
    width: 100px;
    padding: 40px;
    

}


.navbar-button button{
    background-color:rgb(247, 208, 227) ;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    margin-right: 20px;
    gap: 2px;
   
    font-size: 16px;
    
    
}






menu{
    grid-area: menu;
    flex-direction: column;
    overflow: auto;
   
}

menu h3{
    text-align: center;
    
}

menu p{
    font-weight: bold;
    font-size: 16px;
    color:rgb(218, 169, 193) ;
}

menu li{
    font-size: 14px
}


hr{
    border: 1px solid rgb(247, 208, 227);
}








.main{
    grid-area: main;
    display: grid;
    
}

.producto {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    
   
}

.producto img{
    width: 100%;
    height: auto;

    object-fit: cover;
    

}

.productos{
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(247, 208, 227);
    
    
    
}



.description h3{
    margin: 5px;

   
    
}

.description p{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px;
}


.description button{
    margin-top:20px;
    padding: 10px;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    background-color:rgb(247, 208, 227) ;   
    color: rgb(0, 0, 0);   
    border: none;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;

}

.description button:hover{
    background-color: black;
}





.footer{
    grid-area: footer;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(247, 208, 227);



}





